.quiz__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5%;
    ul{
        display:flex;
        padding: 0;
        a{
            background-color: $pink;
            color: white;
            padding: 10px 20px;
            border-radius: 50px;
            margin-left: 10px;
            transition: all 0.3s;
            &:hover{
                background-color: $navy;
            }
        }
    }
}
.quiz-sub__container{
    text-align: center;
    width: 70%;
    margin: 20px auto;
    img{
        border-radius: 5px;
    }
    h1, p{
        color: white;
    }
    button{
        background-color: white;
        color: $pink;
        padding: 10px 20px;
        width: 200px;
        border: none;
        font-family: $league;
        border-radius: 30px;
        font-size: 12px;
        margin-bottom: 3px;
        transition: all 0.2s ease-in;
        cursor: pointer;
        &:hover{
            background-color: $pink;
            color: white;
        }
    }
}