@import "./settings";
@font-face {
    font-family: 'leaguespartan';
    src: url('../fonts/leaguespartan.eot');
    src: url('../fonts/leaguespartan.eot?#iefix') format('embedded-opentype'),
          url('../fonts/leaguespartan.woff2') format('woff2'),
          url('../fonts/leaguespartan.woff') format('woff'),
          url('../fonts/leaguespartan.ttf') format('truetype');
} 
*{
    box-sizing: border-box;
}
body{
    background: $blue;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    padding: 3%;
}
a,h1,h2,h3,h4,h5,h6,p{
    font-family: $league;
    text-decoration: none;
}
li{
    list-style: none;
}
textarea, input, button { outline: none; }
.goback{
    position: fixed;
    top: 10px;
    left: 10px;
    a{
        color: white;
        text-decoration: none;
        transition: all 0.3s;
        &:hover{
            color: $navy;
        }
    }
}
